/*
    Pilko teksto spalva
    #666;

    Bloko viršutinio border ir h1 spalva:
    #0974b3

*/

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;

    font-size: 16px;

    background-color: lightgray;

}

 .initial-container {
    border-top: 4px solid #0974b3;

    width: 1000px;

    display: flex;
    flex-direction: column;

 }

 article {
    background-color: white;
    padding: 20px;
 }

 .flex-row-container {
    display: flex;
    flex-direction: row;
 }

 .second-container {

    margin: 60px 50px 0 0;

    border-top: 4px solid #0974b3;

    width: 455px;

    display: flex;
    flex-direction: column;
 }

 .third-container {

    margin: 60px 0 0 0;

    border-top: 4px solid #0974b3;

    width: 455px;

    display: flex;
    flex-direction: column;
 }


h1 {
    color: #0974b3;
    font-size: 26px;

    margin: 0;
 }


img {
    width: 150px;
    height: 200px;

    margin: 6px 40px 0 0;

    float: left;
 }

 .read-more{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
 }

p{
    text-align: justify;
    margin: 0;
    padding: 0;
}

.years{
    margin: 0 0 20px 0;
    font-size: 16px;
}